body {
	font-family: "Roboto", sans-serif;
	color: #2E2F42;
}

ul, a {
	text-decoration: none;
	list-style-type: none;
	color: inherit;
}

.studio, .portfolio, .contacts {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: inherit;
}

.logo-text {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.16667;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2E2F42;
}
.web-text {
	font-family: "Raleway" sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.16667;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}